@import "tailwindcss";



:root {
 --n-primary: #091A7A; 
 --n-secondary: #FFD942;
 --n-primary-light: #0D52DD;
}

@theme {
  --font-sans: var(--font-inter), sans-serif;
  --font-display: var(--font-sora), sans-serif;
}

html { scroll-behavior: smooth; }

body {
  font-family: var(--n-font-body);
  color: var(--n-slate);
  background-color: var(--n-white);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,
.font-display {
  font-family: var(--n-font-display);
  /* color: var(--n-navy); */
  font-weight: 700;
  letter-spacing: -0.02em;
}

h1 { font-weight: 800; }

p { line-height: 1.7; }

a { text-decoration: none; }

@keyframes marqueeReverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-reverse {
  animation: marqueeReverse 25s linear infinite;
}

/* Pause animasi saat kursor mouse di-hover di atas logo */
/* .animate-marquee-reverse:hover {
  animation-play-state: paused;
} */

.bg-primary {
  background-color: var(--n-primary);
}

.bg-secondary {
  background-color: var(--n-secondary);
}

.text-primary {
  color: var(--n-primary);
}

.text-primary-light {
  color: var(--n-primary-light);
}

.text-secondary {
  color: var(--n-secondary);
}